# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: |
   echo Set rebase
   
   git config pull.rebase true
   
   git remote add tfs -m master "https://hqrndtfs.avp.ru/tfs/DefaultCollection/FT-SNN/_git/knp_from_gh"
   git remote add github  "git@github.com:KasperskyLab/knp.git"
   
   git config user.name "FT-SNN Build Service"
   git config user.email "git@avp.ru"
   
   git remote -v
  displayName: 'Change git settings'

- script: 'git -c http.extraheader="AUTHORIZATION: bearer $(System.AccessToken)" fetch tfs master'
  displayName: 'Fetch changes from the local TFS'

- script: 'git merge tfs/master --allow-unrelated-histories'
  displayName: 'Merge local changes from TFS'

#- script: |
#   pip3 install -r requirements.txt --break-system-packages
#   git config --global http.version HTTP/1.1
#  displayName: 'Setup additional requirements and configuration hacks'
#  enabled: false

# - task: CMake@1
#   displayName: 'CMake GCC Configuration'
#   inputs:
#     workingDirectory: '$(Build.SourcesDirectory)'
#     cmakeArgs: '-DBoost_ROOT=/usr/local/boost/1.84.0/ -DKNP_BUILD_TESTS=ON -DCMAKE_INSTALL_PREFIX="install" -DKNP_BUILD_DOCUMENTATION=ON -DKNP_ENABLE_COVERAGE=ON -DKNP_PYTHON_BUILD_WHEEL=ON -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++ -DCMAKE_BUILD_TYPE=Debug -B $(Build.BinariesDirectory) -S $(Build.SourcesDirectory)'
#   enabled: false

# - task: CMake@1
#   displayName: 'GCC Build'
#   inputs:
#     cmakeArgs: '--build $(Build.BinariesDirectory) --parallel --clean-first'
#   enabled: false

# - script: 'ctest -V --output-junit linux_tests_result.xml'
#   workingDirectory: '$(Build.BinariesDirectory)/knp/tests'
#   failOnStderr: true
#   displayName: 'CTest tests'
#   enabled: false

# - task: PublishTestResults@2
#   displayName: 'Publish Test Results'
#   inputs:
#     testResultsFiles: '$(Build.BinariesDirectory)/knp/tests/linux_tests_result.xml'
#   enabled: false

# - task: ArchiveFiles@2
#   displayName: 'Archive auto-generated documentation'
#   inputs:
#     rootFolderOrFile: '$(Build.BinariesDirectory)/doc_doxygen'
#     archiveType: 7z
#     sevenZipCompression: maximum
#     archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId)_doc.7z'
#   enabled: false

# - task: DownloadSecureFile@1
#   displayName: 'Download Titan1 SSH key'
#   inputs:
#     secureFile: 'titan1_service_id_rsa'

# - script: |
#    chmod 0600 $(ssh_private_key.secureFilePath) && \
#    ssh -o StrictHostKeyChecking=no -i $(ssh_private_key.secureFilePath) svc_ft_publisher@titan1.avp.ru "mkdir -p /data/knp2/$(Build.BuildId)/" && \
#    scp -r -o StrictHostKeyChecking=no -i $(ssh_private_key.secureFilePath) $(Build.BuildId)_doc.7z svc_ft_publisher@titan1.avp.ru:/data/knp2/$(Build.BuildId)/
#   workingDirectory: '$(Build.ArtifactStagingDirectory)'
#   displayName: 'Publish build to the Titan1 via SSH'
#   enabled: false

- task: DownloadSecureFile@1
  displayName: 'Download Github deploy key'
  inputs:
    secureFile: 'github_deploy_key'

- script: 
   chmod 0600 $(github_deploy_key.secureFilePath) && \
   GIT_SSH_COMMAND="ssh -o StrictHostKeyChecking=no -i $(github_deploy_key.secureFilePath)" git push -u github --all
  displayName: 'Push to Github'